<script>
  navigator.geolocation.getCurrentPosition(showPosition, showError);


  function getLocation() {

    if (navigator.geolocation) {

      navigator.geolocation.getCurrentPosition(showPosition, showError);

    } else {

      alert("Geolocation is not supported by this browser.");

    }

  }


  function showPosition(position) {

    //console.log(position.coords.latitude, position.coords.longitude);

    //console.log(`acc ${position.coords.accuracy}m`);
    //options['lat'] = position.coords.latitude;

    //options['lng'] = position.coords.longitude;


    a = position.coords.latitude;

    b = position.coords.longitude;

    console.log(a, b);
    document.getElementById('pippo').innerHTML = a;

  }





  function showError(error) {


    switch (error.code) {

      case error.PERMISSION_DENIED:

        alert("User denied the request for Geolocation.");

        break;

      case error.POSITION_UNAVAILABLE:

        alert("Location information is unavailable.");

        break;

      case error.TIMEOUT:

        alert("The request to get user location timed out.");

        break;

      case error.UNKNOWN_ERROR:

        alert("An unknown error occurred.");

        break;

    };
  };
</script>

<script type="text/javascript">
  $.ajax({
    url: Flask.url_for('testt'),
    type: 'POST',
    data: JSON.stringify(a),   
  })
    .done(function (result) {     
      console.log(result)     
    })
</script>


<body>

  <p id="pippo" name="pippo"></p>


</body>