<script>
  navigator.geolocation.getCurrentPosition(showPosition, showError);


  function getLocation() {

    if (navigator.geolocation) {

      navigator.geolocation.getCurrentPosition(showPosition, showError);

    } else {

      alert("Geolocation is not supported by this browser.");

    }

  }


  function showPosition(position) {
    
    //console.log(position.coords.latitude, position.coords.longitude);

    //console.log(`acc ${position.coords.accuracy}m`);
    //options['lat'] = position.coords.latitude;

    //options['lng'] = position.coords.longitude;


    a = position.coords.latitude;

    b = position.coords.longitude;

    console.log(a,b);
    document.getElementById('pippo').innerHTML = a;

    

  }


  function showError(error) {


    switch (error.code) {

      case error.PERMISSION_DENIED:

        alert("User denied the request for Geolocation.");

        break;

      case error.POSITION_UNAVAILABLE:

        alert("Location information is unavailable.");

        break;

      case error.TIMEOUT:

        alert("The request to get user location timed out.");

        break;

      case error.UNKNOWN_ERROR:

        alert("An unknown error occurred.");

        break;

    };
  };
</script>

<body>
  
  
  <p id="pippo" name="pippo"></p>
  
  
</body>



<head>

    <title>Data Analytics Ireland</title></head>
<body>

<P>Post some values to a json file</P>


<label for="fname">First name:</label> <input type="text" id="fname" name="fname">
<label for="lname">Last name:</label><input type="text" id="lname" name="lname">
<button type="submit" onclick='myfunction();'>Click Here to see your data</button>


<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<script>
    function myfunction() {

        const firstname = document.getElementById("fname").value;
        const lastname = document.getElementById("lname").value;


        const dict_values = {firstname, lastname} //Pass the javascript variables to a dictionary.
        const s = JSON.stringify(dict_values); // Stringify converts a JavaScript object or value to a JSON string
        console.log(s); // Prints the variables to console window, which are in the JSON format
        window.alert(s)
        $.ajax({
            url:"/test",
            type:"POST",
            contentType: "application/json",
            data: JSON.stringify(s)});

}

</script>



</body>
</html>